<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>查询心愿</title>
<style type="text/css">
body{ padding:0; margin:0; background:rgba(255,255,230,1)}
ul li{line-height:30px;font-size:18px;color:#333;font-weight: bold;padding-top: 10px;}
ul span{text-align:left;font-size:16px; color:#666; line-height:30px; padding-left:30px;}

</style>
</head>

<body>
<volist name="data1" id="vo">
<div class="self">
  <ul>
      <li>
          心愿编号：           
      </li>        
      <span>No.<{$vo.wishstory_id}></span><br>
      <li>
          发表日期：            
      </li>              
      <span>【 <{$vo.postdate}> 】</span><br>
      <li>
          心愿名称：
      </li>
      <span>【 <{$vo.wishstory_name}> 】</span><br>
      <li>
          心愿内容：
      </li>
       <p>
          <{$vo.stu_wishstory}>
      </p>
      <li>
          状态：<span><{$vo.stu_claimstate}></span><br>
      </li>
  </ul>	
</div>
    </volist>
<volist name="data2" id="vo">
        <div class="renl_info">
          <ul>
              <li>
                  认领人： <span><{$vo.claimant_name}></span><br>
              </li>
          </ul>
        </div>
</volist>
</body>
</html>
