<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>心愿审核处理</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin_index.css">
</head>
<body style="background:#f7f7f7">
<div class="content">
	<div class="head">
        <a href="__ROOT__/Home/LogIn/logOut">注销</a>
        <h1>微爱川大管理平台</h1>
    </div>
	<div class="nav">
    	<a href="AdminIndex"><input type="reset" value="心愿审核"></a>
        <a href="AdminIndexAchieve"><input type="button" value="后期管理"></a>
    </div>
	<div class="con">
        <span class="search">
            <form name="form1" method="GET" action="__ROOT__/Home/AdminIndex">
            <input style="width:165px; height:22px;" type="text"  name="keyword" id="keyword"/>
           <input style="height:25px;" type="submit" value="查询" />
            </form>
        </span>
        <table id="list" width="900" border="1" cellspacing="1">
        <tr>
          <th scope="col">编号</th>
          <th scope="col">心愿名称</th>
          <th scope="col">申请日期</th>
          <th scope="col">申请审核状态</th>
          <th scope="col">发布日期</th>
          <th scope="col">认领人</th>
          <th scope="col">认领审核状态</th>
          <th scope="col">查看</th>
          <th scope="col">如愿以偿</th>
          
          </tr>
            <volist name="data" id="vo">
                <tr>
          <td><{$vo.wishstory_id}></td>
          <td><{$vo.wishstory_name}></td>
          <td><{$vo.applydate}></td>
          <td><{$vo.applyStatus}></td>
          <td><{$vo.postdate}></td>
          <td><{$vo.claimantname}></td>
          <td><{$vo.claimantStatus}></td>
          <td><a href="AdminView?wishstory_id=<{$vo.wishstory_id}>"><input type="button" value="查看"></a></td>
          <td><{$vo.achieveStatus}></td>
            </tr>
               </volist>
        </table>
        <div class="page" style="background:#C6DBFB">
            <table width="100%" align=center cellspacing=5 cellpadding=5>
                <tr>
                    <td align=right>
                        <volist name="total" id="td1">
                            页次：<font color=red><{$td1.page}></font>/<{$td1.pageNum}>&nbsp;&nbsp;该页<b><{$td1.numPerPage}></b>条&nbsp;&nbsp;共<b><{$td1.pageNum}></b>页&nbsp;&nbsp;分页：
                        </volist>
                        <volist name="page" id="td2">
                            [<a href="?page=<{$td2}>"><{$td2}></a>]
                        </volist>
                    </td>
                </tr>	  
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
//admin
window.onload= function(){
	var ali=document.getElementsByTagName('tr');

	for(var i=0;i<=ali.length;i++){
		if(i%2==0){
			ali[i].style.background='#efefef';
		}
		else{
			ali[i].style.background='';
		}
	}
}
</script>

</body>
</html>
