	body {padding: 0 0;font-family: "微软雅黑";font-size: 12px;color:#666; background:rgba(255,255,200,0.6) url(../image/.png) repeat-x }
	img{ border:0px}
	/*总布局样式*/
    .container {width: 960px; margin:auto; margin-top:20px; box-shadow:rgba(143, 143, 143, 1) 2px 2px 15px; background:#fff;}
	/*页眉样式*/
	#header{width:960px; height:250px;  position:relative;}
	#header .headbg{ width:100%; height:100%; z-index:10; background:url(../image/headbg.png) no-repeat; position:absolute; left:0px; top:0px; text-shadow:#000 5px 5px 3px; text-align:center;}
	#header .headbg h1{font-size:80px; font-family:"华文行楷"; color:rgba(255,255,255,0.85);}
	#header .adv{ width:960px; height:250px;overflow:hidden;}
	
	/*八张图片*/
	.rollBox{width:1350px;overflow:hidden;}

	.rollBox .Cont{width:960px;overflow:hidden;float:left;}
	.rollBox .ScrCont{width:1000%;}
	.rollBox .Cont .pic{width:120px;float:left;text-align:center; position:relative;}
	.rollBox .Cont .pic img{display:block;margin:0 auto; box-shadow:#666 2px 2px 2px;}
	
	.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
	.rollBox .Cont a:hover{color:#f00;text-decoration:underline;} 
	.rollBox #List1,.rollBox #List2{float:left;}
	
	
	#content{ width:100%; margin:10px auto;}
	/*左边导航内容样式*/
	#part_left{width:190px; padding:5px;  margin-left: 5px; height:700px; float:left; letter-spacing:2px; border-radius:5px;
						   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b9b98+0,000000+100&0.65+0,0+72,0+72,0+95,0+100,0+100 */
background: -moz-linear-gradient(top,  rgba(155,155,152,0.65) 0%, rgba(43,43,43,0) 72%, rgba(8,8,8,0) 95%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(155,155,152,0.65) 0%,rgba(43,43,43,0) 72%,rgba(8,8,8,0) 95%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(155,155,152,0.65) 0%,rgba(43,43,43,0) 72%,rgba(8,8,8,0) 95%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69b9b98', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
			
	#part_left ul.nav{list-style:none; margin-left:-30px; margin-top:20px;}
	#part_left ul.nav li{line-height:40px;}		
	#part_left a{ margin:10px 0;font-family:"微软雅黑"; }

	/*心愿内容按钮样式*/
    #content .main{ width:740px; margin-bottom:0; border-radius: 8px; font-size:14px; float:right; margin:0 5px;}
    #content .main ul.sel_btn{ width:240px;height:30px; padding: 0 10px; color:#fff; background:url(../image/tab.png);}
	#content .main ul.sel_btn li{ width:130px; height:30px; text-align:center; line-height:30px; float:left;
							 list-style:none;  font-size:14px; margin-right:-10px; }
	
	#content .main ul.sel_btn li.hovered{background:url(../image/tab_hover.png)}
	/*心愿选项内容样式*/
	#content .main .con{width:720px; height:600px; clear:both; overflow:hidden; margin:0 10px; }
                  
	#content .main .con .sel_con{height:580px; position:relative;}
	#content .main .con .sel_con .page{position:absolute; bottom:0px; right:30px}
	#content .main .con .sel_con ul li{ height:35px; line-height:40px;list-style:none; border-bottom:#FB8417 1px dotted;
        margin-left: -40px;text-indent: 30px; border-radius:5px;}
    #content .main .con .sel_con ul li:hover{background:#ccc}
	#content .main .con .sel_con ul li a{text-decoration:none; color:#444; padding-left:50px}
    #content .main .con .sel_con ul li a:hover{text-decoration:underline;}
	#content .main .con .sel_con span{ height:35px;float:right;}
	#content .main .con .sel_con span a{text-decoration:none; padding:0px 50px}

	/*页脚内容样式*/
	#footer{ width:960px; height:70px; margin-top:10px; clear:left; border-top:#9b9b98 solid 2px;
					border-bottom:#9b9b98 solid 5px;}
	#footer span{float:left; padding:0 10px;}
	#footer .foot{float:left; }
	
    #footer .footcenter{ width:300px; margin:0px 20px  ;float: left; color:#444}


	/*申请表内容样式*/
	#content .apply_con{ width:750px; font-size:14px; color:#333; float:right;}
	#content .apply{height:50px; line-height:50px; background:url(../image/apply.png); text-align:center; font-family:"华文行楷";font-size:25px; color:#7C390C;  margin:0 5px; }
	#content .apply_con form{padding:10px 30px;}
	#content .apply_con input,select{ width:150px; height:20px; margin:5px 0px; border-radius:4px; text-indent:5px; background:#FFC url(../image/cBg.png); outline:none;}
	#content .apply_con select{ width:50px;} 
	#content .apply_con textarea{width:600px;overflow: auto;resize:none; text-indent:20px;background:#FFC url(../image/cBg.png);border-radius:4px; box-shadow:2px 2px 2px #ccc; outline:none;}
	#content .apply_con textarea#textarea{ height:50px;}
	#content .apply_con textarea#textarea1, textarea#textarea2{ height:120px;}
	#content .apply_con input.but{ width:100px; height:28px; text-align:center; background:#999; border-radius:4px; margin-left:25%; color:#fff; font-size:16px; font-weight:600; cursor:pointer;}	
	
	/* 爱心寄语/感恩有你 内容样式*/
	#content .word_con{width:720px;height:650px; padding:10px; margin:0 5px; text-indent:15px;font-size:16px; color:#666; font-family:"华文行楷";  float:right; }
	#content .word_con h2{ padding:10px; text-indent:30px; color:#7C390C; font-size:20px;}
	/*心愿列表内容样式*/
	#content .con{ width:720px; padding:10px;position:relative;  margin:0 5px;  float:right; }
	#content .con span.help{ float:right; width:30px; text-align:center; height:30px; line-height:30px; color:#FF0; font-weight:bold; font-size:26px; box-shadow:1px 1px 2px #999; border-radius:15px;cursor:pointer;}
	#content .con span.search{ width:400px; height:30px; margin:0 20px; padding:2px;float:right; background:#F36; }
	#content .con span.search input{height:24px; margin:0; text-indent:5px; outline:none;}
	#content .con span.search input.search{ border:0; color:#fff; font-size:18px; padding:0; font-family:"微软雅黑" ;font-weight:bold; outline:none; background:#F36; cursor:pointer;}
	
	#content .con .con_left{ width:50%;float:left;}
	#content .con #state_right{width:300px; height:0px; overflow:hidden; position:absolute;left:30px; top:100px; background:#eee;z-index:10; box-shadow:#ccc 2px 2px 2px;font-size:14px; line-height:20px; text-indent:30px;letter-spacing:2px; padding:0 10px; color:#666; font-weight:400}
	#content .con .con_right{ width:50%; float:right;}
	#content .con #state_left{width:300px; height:0px; overflow:hidden;  position:absolute; left:200px; top:100px; background:#eee;z-index:10; box-shadow:#ccc 2px 2px 2px; font-size:14px; line-height:20px; text-indent:30px;letter-spacing:2px; padding:0 10px; color:#666; font-weight:400}
	#content .con .con_1{width:315px; height:85px; padding:15px 10px;font-size:14px; font-weight:bold; color:#060; padding-left:20px ;background:url(../image/list_bg.png) no-repeat;float:left;}
	#content .con span#tit_left,span#tit_right{ cursor:pointer; text-decoration: underline;}
	#content .con table.page{ color:#999; font-size:16px;}
	#content .con table.page a{ text-decoration:none}
	

	/*项目介绍内容样式*/
    #content .introl_con{width:740px; height:700px; margin:0 5px; float:right; overflow:hidden}
    #content .introl_con p{ padding:0 10px; text-indent:30px; color:#7C390C; font-size:20px;}
    
    #content .introl_con .select_but ul{height:45px; margin:8px 0 0;margin-left: -40px; background:url("../image/introlbg.png") repeat-x bottom;}
    #content .introl_con .select_but li{list-style-type:none; height:45px; width:130px; padding-left:20px;  float:left;
        font-size:16px; font-weight:600; color:#666; text-align:center; line-height:40px;
        }
    #content .introl_con .select_but li.hover{background:url(../image/introl_hover.png) no-repeat right top; color:#333; cursor:pointer;}
    #content .introl_con .select_con .select_content{ height:560px; padding:10px 20px;}
    #content .introl_con .select_con .select_content p{ text-indent:28px; font-family:"宋体"; font-size:15px; line-height:25px;}

    /*心愿预览内容样式*/
    #content .yulan{ width:740px; margin:0 5px;height:680px;  float:right; }
    #content .yulan .title{float:left;}
    #content .yulan .title ul span{text-align:left;font-size:16px; color:#666; line-height:30px; padding-left:30px;}
    #content .yulan .imgs{width:300px; height:200px; padding:5px; margin:30px;float:right;box-shadow:5px 5px 20px #999; }
    #content .yulan .title ul li{list-style:none;line-height: 180%;font-size:15px;color:#333;font-weight: bold;padding-top: 10px;}
    #content .yulan h3{clear:both; text-indent:30px;}
    #content .yulan p{text-align:left;font-size:14px; color:#666; line-height:25px; padding:0px 20px; text-indent:30px;
        clear:both;}
    #content .yulan span#ztai{float:right; margin:20px 30px; color:#C30; font-size:16px; font-weight:600}

    /*心愿认领内容样式*/
    #content .claim{width:740px; margin:0 5px; text-align:center; font-size: 16px; font-family: "微软雅黑";  float:right; }
	#content .claim h2{ padding:10px; text-indent:30px; color:#7C390C; font-size:30px;}
    #content .claim .text input{width:300px; height:40px; line-height:40px; background:#FFC url(../image/cBg.png); text-indent:10px;margin:10px;font-size:14px; color:#4d4d4d; border-radius:8px; outline:none;}
	#content .claim  textarea{width:400px;height:100px; overflow:auto;resize:none; padding:10px;background:#FFC url(../image/cBg.png);border-radius:4px; box-shadow:2px 2px 2px #ccc;outline:none;}
    #content .claim .btn input{width:145px; height:35px; background:#999;border-radius:6px; font-size:14px;font-weight:bold; color:#FFF;line-height:35px; text-align:center; border-radius:4px; margin:20px; cursor:pointer;}

	#content .chakan{width:720px;height:650px; padding:10px; margin:0 5px; text-indent:15px;font-size:15px; color:#600; float:right; line-height:30px;}
	#content .chakan h2{ padding:10px; text-indent:30px; color:#7C390C; font-size:20px;}
	#content .chakan a{ cursor:pointer;}
    #content .chakan span.help{ float:right; width:30px; text-align:center; height:30px; line-height:30px; color:#FF0; font-weight:bold; font-size:26px; box-shadow:1px 1px 2px #999; border-radius:15px;cursor:pointer;}
    #content .chakan span.search{ width:410px; height:32px; margin:0 20px; padding:2px;float:right; background:#F36; }
    #content .chakan span.search input{height:24px; margin:0; text-indent:5px; outline:none;}
    #content .chakan span.search input.search{ border:0; color:#fff; font-size:18px; padding:0; font-family:"微软雅黑" ;font-weight:bold; outline:none; background:#F36; cursor:pointer;}
